#banner
  .banner_content
    %h1 Storage Catalyst
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p An usu posse laudem praesent, vivendo erroribus adipiscing id quo. 
        Amet nisl utinam mei in. Eum cu purto doming incorrupte, mei in diceret 
        consulatu. Nam mucius detracto id. Ex reque dicat euripidis his, sed ea 
        possit audiam vituperata, eu virtute maiorum vis.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now!", new_user_registration_path